body {
  background-color: rgb(233, 233, 174);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(130, 149, 165);
  border: 5px solid #444;
}
